.wrapper {
    max-width: 1200px;
    margin: auto;
    @include media-tablet {
      max-width: 708px;
      margin: 0 30px;
    }
    @include media-mobile {
      min-width: 300px;
      margin: 0 10px;
    }
}
