.wrapper {
    max-width: 1200px;
    margin: auto;
    @include media-laptop {
      padding: 0 20px;
    }
    @include media-tablet {
      max-width: 708px;
      padding: 0 30px;
    }
    @include media-tabletsmall {
      max-width: 500px;
    }
    @include media-mobile {
      min-width: 300px;
      padding: 0 10px;
    }
}
