.wrapper {
    width: 1200px;
    margin: auto;
}


.gradient_background-start {
    background: url(../img/images/95577108af837b8b441616746225b66e.png), radial-gradient(rgba(91, 72, 58, 1) 0%, rgba(38, 36, 37, 1) 100%);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
