.main-container {
    margin: 0 auto;
    width: fit-content;
    box-sizing: border-box;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkolivegreen;
    text-align: center;
}

.game {
    background-color: lightgrey;
    padding: 10px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid grey;
    border-right: 4px solid grey;
}

.panel {
display: flex;
justify-content: space-between;
align-items: center;
border-top: 4px solid grey;
    border-left: 4px solid grey;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    margin-bottom: 10px;
    padding: 7px;
}

.level-check {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.level {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
}

.field {
    width: 400px;
    height: 400px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-top: 4px solid grey;
    border-left: 4px solid grey;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

.cell {
    width: 8%;
    height: 8%;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid grey;
    border-right: 4px solid grey;
    background-color: darkseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_open {
    background-color: brown;
}

.cell_marked {
color: chartreuse;
}

.mine {
    width: 1.8rem;
    height: 1.8rem;
}

.flag {
    width: 1.8rem;
    height: 1.8rem;
}

.replay {
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid grey;
    border-right: 4px solid grey;
    padding: 3px;
}

.smile {
    width: 2.5rem;
    height: 2.5rem;
}

.counter,
.timer {
    background-color: darkgray;
    color: forestgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}