.about__img {
  background-image: url("../img/images/about-pets.png");
  width: 300px;
  height: 408px;
  background-repeat: no-repeat;
}

.about__title {
  width: 340px;
margin-top: 35px;
}

.about__wrapper {
  width: 850px;
  padding-top: 60px;
  padding-bottom: 98px;
  margin: auto;
  align-items: flex-end;
}

.about__content {
  width: 430px;
}

.about_p {
  margin-top: 23px;
  margin-bottom: 28px;
}
