.about__img {
  background-image: url("../img/images/about-pets.png");
  width: 300px;
  height: 408px;
  background-repeat: no-repeat;
  @include media-mobile {
    width: 260px;
height: 353.6px;
background-size: contain;
  }
}

.about__title {
  width: 340px;
margin-top: 35px;
@include media-mobile {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
}

.about__wrapper {
  max-width: 850px;
  padding-top: 60px;
  padding-bottom: 98px;
  margin: auto;
  align-items: flex-end;
  @include media-tablet {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 435px;
    padding-top: 45px;
    padding-bottom: 100px;
  }
  @include media-mobile {
  padding-top: 40px;
  padding-bottom: 50px;
  }
}

.about__content {
  width: 430px;
  @include media-tablet {
    margin-bottom: 62px;
  }
  @include media-mobile {
    width: 270px;
    text-align: justify;
    margin-bottom: 30px;
  }
}

.about_p {
  margin-top: 26px;
  margin-bottom: 28px;
  @include media-mobile {
    margin-bottom: 20px;
  }
}
