.footer__wrapper {
    display: flex;
    @include media-tablet {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer__title {
    color: $color-light-xl;
    padding-right: 10px;
}

.footer__img {
    background-image: url("../img/images/footer-puppy.png");
width: 300px;
height: 310px;
background-repeat: no-repeat;
margin-top: 40px;
margin-left: 40px;
@include media-tablet {
    margin-left: 0;
    margin-top: 64px;
}
}

.footer__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__contact h4 {
padding-left: 20px;
@extend %transition;
&:hover {
    color: $color-light-s;
}
}


.gradient_background {
    background: url(../img/images/95577108af837b8b441616746225b66e.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 234px;
    margin-top: 56px;
    margin-right: 120px;
    @include media-tablet {
        margin-top: 32px;
        margin-right:18px;
        margin-left: 18px;
    }
}

.footer__location {
    width: 320px;
    @include media-tablet {
        width: 300px;
    }
}

.footer__location_long {
    width: 280px;
}

