.link-pets {
  text-decoration: none;
  color: $color-dark-l;
  &:hover {
    color: $color-dark-3xl;
  }
}

.logo__subtitle_pets {
  @extend %font-add;
  @include font(
    $size: 1.3rem,
    $height: 1.5rem,
    $color: $color-dark-3xl,
    $letter: 0.11em
  );
}

.logo__pets {
  color: $color-dark-l;
}

.header-pets__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  @extend %transition;
  @include media-laptop {
    padding-left: 20px;
    padding-right: 20px;
  }
 
  @include media-tablet {
    padding: 30px 0px;
  }

  @include media-mobile {
    padding: 30px 20px;
  }
}

.link-active-pets {
  display: inline-block;
  height: 27px;
  border-bottom: 3px solid $color-primary;
  color: $color-dark-3xl;
}

.header__nav {
  @include media-tabletsmall {
    display: none;
  }
}

.burger__pets {
  background-image: url(../img/icons/Burger-pets.png);
}
