.link-pets {
    text-decoration: none;
    color: $color-dark-l;
    &:hover {
        color: $color-dark-3xl;
    }
}

.logo__subtitle_pets {
        @extend %font-add;
        @include font($size: 1.3rem, $height: 1.5rem, $color: $color-dark-3xl, $letter: 0.12rem);
}

.logo__pets {
    color: $color-dark-l;
}

.header-pets__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}

.link-active-pets {
    display: inline-block;
    height: 27px;
    border-bottom: 3px solid $color-primary;
    color: $color-dark-3xl;
}