.our-pets {
    background-color: $color-light-l;
}

.our-pets__header {
    margin-top: 80px;
    width: 400px;
    text-align: center;
    margin-bottom: 60px;
    @include media-tablet {
        margin-bottom: 30px;
    }
    @include media-mobile {
        margin-bottom: 40px;
        margin-top: 42px;
    }
}

.cards__container {
 max-width: 1200px;

 @include media-tablet {
    width: 580px;
    height: 1365px;
    overflow: hidden;
 }
 @include media-mobile {
    width: 270px;
 }
}

.cards__row {
  margin-bottom: 30px;
  @include columns($width: 21%);
  @include media-tablet {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
    @include columns($width: 48%);
  }
  @include media-mobile {
    width: 100%;
  }
}


.cards__row > .card {
margin-right: 40px;
@include media-tablet {
    margin-right: 0;
    margin-bottom: 30px;
}
}


.cards__row > .card:last-child {
    margin-right: 0;
    }


.our-pets__wrapper {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.our-pets__nav {
    width: 340px;
    display: flex;
    justify-content: space-between;
padding-top: 60px;
margin-bottom: 100px;
@include media-tablet {
    padding-top: 38px;
    margin-bottom: 78px;
}
@include media-mobile {
    padding-top: 46px;
    margin-bottom: 40px;
}
} 

