.our-pets {
    background-color: $color-light-l;
}

.our-pets__header {
    margin-top: 80px;
    width: 400px;
    text-align: center;
    margin-bottom: 60px;
}

.cards__container {
 width: 1200px;
}

.cards__row {
  margin-bottom: 30px;
}

.our-pets__wrapper {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.our-pets__nav {
    width: 340px;
    display: flex;
    justify-content: space-between;
padding-top: 60px;
margin-bottom: 100px;
} 
