.pets {
  background-color: $color-light-l;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  align-items: center;
  @include media-mobile {
    padding-top: 42px;
    padding-bottom: 22px;
  }
}

.pets__button {
  width: 262px;
  margin-bottom: 20px;
}

.pets__title {
  padding-bottom: 60px;
  @include media-mobile {
    padding-bottom: 40px;
  }
}

.card__container {
  width: 990px;
  @extend %transition;
  @include columns($width: 30%);
  @include media-tablet {
    width: 580px;
    @include columns($width: 48%);
    overflow: hidden;
    flex-wrap: wrap;
    height: 435px;
  }
  @include media-tabletsmall {
    @include columns($width: 100%);
    width: 270px;
    order: 1;
    margin-bottom: 23px;
  }
}

.slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  @extend %transition;
  @include media-tablet {
    margin-bottom: 58px;
  }
  @include media-tabletsmall{
    width: 270px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
