.start__img {
    @extend %transition;
    min-width: 698px;
height: 728px;
background-image: url("../img/images/start-screen-puppy.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
 @include media-tablet {
    background-image: url("../img/images/start-screen-puppy-768.png");
min-width: 569px;
height: 593px;
background-size: contain;
margin-left: 74px;
 }
 @include media-mobile {
    background-image: url("../img/images/start-screen-puppy-mobile.png");
    min-width: 260px;
    height: 272px;
    margin: 74px 0 0 32px;
 }
}

.start__title {
    color: $color-light-xl;
    padding-top: 127px;
    margin: 35px 0;
    padding-bottom:7px;
    width: 310px;
    @extend %transition;
    @include media-tablet {
        padding-top: 0;
        padding-bottom: 0;
        margin: 30px 0 42px 0;
    }
    @include media-mobile {
margin: 29px auto 40px;
width: 250px;
    }
}

.start__content{
    max-width: 460px;
    @extend %transition;
    @include media-tablet {
margin: 0 55px 98px 55px;
    }
    @include media-mobile {
        margin: 0;
        width: 300px;
    }
}

.start__button {
    margin-top: 28px;
    @include media-tablet {
        margin-left: 124px;
    }
    @include media-mobile {
        margin: 30px;
    }
}

.start__wrapper {
    @include media-tablet {
       flex-direction: column;
       width: 569px;
       margin: auto;
    }
    @include media-mobile {
        width: fit-content;
        text-align: center;
    }
}
