.start__img {
    min-width: 698px;
height: 728px;
background-image: url("../img/images/start-screen-puppy.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}

.start__title {
    color: $color-light-xl;
    padding-top: 127px;
    padding-bottom:7px;
    width: 310px;
}

.start__content{
    max-width: 460px;
}

.start__button {
    margin-top: 23px;
}