$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;
$color-dark-s:  #CDCDCD;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;



$content-width: 1230px;
$tablet-width: 1000px;
$mobile-big-width: 500px;
$mobile-small-width: 320px;
