@mixin font ($size, $height, $weight: 400, $style: normal, $color: $color-dark-l, $letter: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
    color: $color;
    letter-spacing: $letter;
}

@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}