.slider__arrow {
    width: 52px;
height: 52px;
}

.button-arrow-left {
    background-image: url('../img/icons/button_arrow.svg');
}

.button-arrow-right {
    background-image: url('../img/icons/button_arrow-right.svg');
}
