html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    @extend %font-prim;
}

.no-scroll {
    overflow: hidden;
}

h1 {
    @include font($size: 3.2rem, $height: 3.5rem, $color: $color-primary, $letter: 0.06em);
}

h2 {
    @include font($size: 4.4rem, $height: 5.7rem);
    @include media-mobile {
        @include font($size: 2.5rem, $height: 3.2rem, $letter: 0.06em);
    }
    }

h3 {
    @include font($size: 3.5rem, $height: 4.5rem, $letter: 0.06em);
    @include media-mobile {
        @include font($size: 2.5rem, $height: 3.2rem, $letter: 0.06em);
    }
}

h4 {
    @include font($size: 2rem, $height: 2.3rem, $letter: 0.06em);
    margin: 0;
}

h5 {
    @include font($size: 1.5rem, $height: 1.7rem,  $letter: 0.06em);
}

.paragraph-l {
    @extend %font-add;
    @include font($size: 1.5rem, $height: 2.4rem);
}

.paragraph-s {
    @extend %font-add;
    @include font($size: 1.2rem, $height: 1.8rem, $style: italic, $color: $color-dark-m);
}

.color-light {
    color: $color-dark-s;
}

.color-dark {
    color: $color-dark-xl;
}

.color-prime {
    color: $color-primary;
}

