.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @extend %transition;
    @include media-tabletsmall {
        width: 30px;
        height: 22px;
        background-size: cover;
       z-index: 999;
    }
}

.burger-open {
    @extend %transition;
    position: relative;
    transform: rotate(90deg);
    z-index: 999;
}

.burger__nav
 {
    z-index: 100;
    @extend %transition;
    @include media-tabletsmall {
        display: block;
width: 320px;
height: 823px;
background-color: $color-dark-3xl;
position: absolute; 
right: -320px;
top:0;
 
    }
}

.burger__nav-pets {
    @include media-tabletsmall {
    background-color: $color-light-l;
    }
} 

.burger__nav-open {
    @extend %transition;
transform: translate(-320px);
}

.burger__main {
transition: all 500ms ease-in-out;
  //  background-image: url(../img/icons/Burger.png);
  }

.burger__pets {
    transition: all 500ms ease-in-out;

  }

  .burger__main > span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $color-primary;
    transition: all 0.5s;
  }

  .burger__pets > span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    transition: all 0.5s;
  }
  

.burger__overlay
 {
    @extend %transition;
    background: rgba(41, 41, 41, 0.6);
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.burger__overlay-open {
    display: block;
}