.button {
    @extend %font-prim;
    @include font($size: 1.7rem, $height: 2.2rem, $color: $color-dark-3xl, $letter: 0.08rem);
    padding: 15px 45px;
    border-radius: 100px;
    cursor: pointer;
    @extend %transition;
    &_primary {
        background: $color-primary;
        border: 1px solid $color-primary;
        &:hover {
            background: $color-primary-light;
            border: 1px solid $color-primary-light;
        }
        }
    &_secondary {
        background: $color-light-xl;
        border: 2px solid $color-primary-light;
        &:hover {
            background: $color-primary-light;
        }
    }
}