.card__img {
    height: 270px;
width: 270px;
border-radius: 9px 9px 0px 0px;
}

.img-katrine {
    background-image: url("../img/images/pets-katrine.png");
}

.img-jennifer {
    background-image: url("../img/images/pets-jennifer.png");
}

.img-woody {
    background-image: url("../img/images/pets-woody.png");
}

.img-sophia {
    background-image: url("../img/images/pets-sophia.png");
}

.img-timmy {
    background-image: url("../img/images/pets-timmy.png");
}
.img-charly {
    background-image: url("../img/images/pets-charly.png");
}

.img-scarlett {
    background-image: url("../img/images/pets-scarlet.png");
}

.img-freddie {
    background-image: url("../img/images/pets-freddie.png");
}